* {
  box-sizing: border-box;
  border-radius: 0;
  margin: 0;
}
.container {
  /* width: 100vw; */
  height: 100vh;
  overflow: hidden;
}
#board {
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(28, 1fr);
  width: 100vw;
  height: calc(94.1vh - 2vmin);
}

.bottom-panel {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  height: calc(16.4vh - 8.5%);
  background-color: rgb(61, 52, 43);
}

p {
  margin: 0;
  /* line-height: 0; */
  font-size: 12px;
  margin-top: 2px;
}

.box {
  height: 100%;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;

  /* border: 1px solid white; */
}
.toolbox {
  height: 100%;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: white;
  outline: 1px solid white;
}

.choosen-box {
  background-color: yellow;
  z-index: 1;
}
.choosen-res {
  outline: 2px yellow solid;
}
.opacity {
  opacity: 0.5;
}

.resources-panel {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 5px;
  width: 300px;
  height: 80%;
}

.tool-panel {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 5px;
  width: 200px;
  height: 80%;
}

.sky {
  background-color: deepskyblue;
}

.dirt {
  background: url(../img/dirt.webp) 0 0 / cover no-repeat;
}
.grass {
  background: url(../img/grass_dirt.webp) 0 0 / cover no-repeat;
}
.rock {
  background: url(../img/rock.webp) 0 0 / cover no-repeat;
}
.tr-leg {
  background: url(../img/tree_bottom.webp) 0 0 / cover no-repeat;
}
.tr-top {
  background: url(../img/tree_top.webp) 0 0 / cover no-repeat;
}
.cloud {
  background: url(../img/clouds.webp) 0 0 / cover no-repeat;
}

.shovel {
  background: url(../img/shovel.webp) center center / contain no-repeat;
}
.pickaxe {
  background: url(../img/pickaxe.webp) center / contain no-repeat;
}
.axe {
  background: url(../img/axe.webp) center center / contain no-repeat;
}
